<div class="row f5f5f5-bg">
	<div class="col s12 lecture-bg home-nav center">
			  <div class="col s1 st-lecture left-no-pad">
			    <img src="app/images/go-back-left-arrow.png" class="" width="20" height="20">
			    
			  </div>
			  <div class="col s11 stlec-heading center">
			  		<div class="col s4 offset-s4 ">
				  		<div class="icon">
				  			<img src="app/images/lecture.png" class="">
				  		</div>
			  		</div>
			  		<div class="col s12">
			  			<h6>Lecture Schedule</h6>
			  		</div>
			  		
			  </div>
	</div>
	<div class="col s12 center month-lecture white">
		<span class="left pointer"><img src="app/images/backward-arrow.png" class="" width="10" height="10"></span>
		<span class="month-name">August</span>
		<span class="right pointer"><img src="app/images/skip-track.png" class="" width="10" height="10"></span>
	</div>
	<div class="col s12 lecture-info">
		<div class="col s2 lect-day">
			<h5 class="">20</h5>
			<h6>Aug</h6>
		</div>
		<div class="col s10 left-no-pad	">
			<div class="col s12 side-no-pad lecture-detail">
			<p class="lect-name">Agriculture</p>
			<p class="lect-teacher"><span class="left">by Professor Aditya Gupta</span> <span class="lect-time">10.00 - 11.30 am</span></p>
			</div>
			<div class="col s12 side-no-pad lecture-detail">
			<p class="lect-name">Agriculture</p>
			<p class="lect-teacher"><span class="left">by Professor Aditya Gupta</span> <span class="right lect-time">10.00 - 11.30 am</span></p>
			</div>
		</div>
		
	</div>
</div>

<!-- test instruction -->

<!-- <div class="row f5f5f5-bg">
	<div class="col s12 test-info">
		  <div class="col s1 st-lecture left-no-pad">
		    <img src="app/images/go-back-left-arrow.png" class="" width="20" height="20">
		    
		  </div>
		  <div class="col s11 test-name">
		  		<h6> Di & Reasoning Test 1</h6>			  		
		  </div>
	</div>
	<div class="col s12 center test-heading">
		<h6>Instructions to follow</h6>
		
	</div>
	<div class="col s12 test-instructions">
		<div class="col s2 instr-img">
			<img src="app/images/presentation.png" width="45" height="45" class="black">
		</div>
		<div class="col s10 instr-details">
			<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
		</div>
	</div>
	<div class="col s12 test-instructions">
		<div class="col s2 instr-img">
			<img src="app/images/presentation.png" width="45" height="45" class="black">
		</div>
		<div class="col s10 instr-details">
			<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
		</div>
	</div>
	<div class="col s12 test-instructions">
		<div class="col s2 instr-img">
			<img src="app/images/presentation.png" width="45" height="45" class="black">
		</div>
		<div class="col s10 instr-details">
			<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
		</div>
	</div>
	<div class="col s12 test-start">
      <button ">Next</button>
    </div>
</div> -->