<!-- test instruction -->

<div class="row">
	<div class="col s12 test-info">
		  <div class="col s1 st-lecture left-no-pad">
		    <img src="app/images/go-back-left-arrow.png" class="" width="20" height="20">
		    
		  </div>
		  <div class="col s11 test-name">
		  		<h6> Di & Reasoning Test 1</h6>			  		
		  </div>
	</div>
	<div class="col s12 center test-heading">
		<h6>Instructions to follow</h6>
		
	</div>
	<div class="col s12 pad40">
		<div class="col s12 test-instructions">
			<div class="col s2 instr-img">
				<img src="app/images/presentation.png" width="45" height="45" class="black">
			</div>
			<div class="col s10 instr-details">
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
			</div>
		</div>
		<div class="col s12 test-instructions">
			<div class="col s2 instr-img">
				<img src="app/images/presentation.png" width="45" height="45" class="black">
			</div>
			<div class="col s10 instr-details">
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
			</div>
		</div>
		<div class="col s12 test-instructions">
			<div class="col s2 instr-img">
				<img src="app/images/presentation.png" width="45" height="45" class="black">
			</div>
			<div class="col s10 instr-details">
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
			</div>
		</div>
		<div class="col s12 test-instructions">
			<div class="col s2 instr-img">
				<img src="app/images/presentation.png" width="45" height="45" class="black">
			</div>
			<div class="col s10 instr-details">
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
			</div>
		</div>
		<div class="col s12 test-instructions">
			<div class="col s2 instr-img">
				<img src="app/images/presentation.png" width="45" height="45" class="black">
			</div>
			<div class="col s10 instr-details">
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
			</div>
		</div>
		<div class="col s12 test-instructions">
			<div class="col s2 instr-img">
				<img src="app/images/presentation.png" width="45" height="45" class="black">
			</div>
			<div class="col s10 instr-details">
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
			</div>
		</div>
		<div class="col s12 test-instructions">
			<div class="col s2 instr-img">
				<img src="app/images/presentation.png" width="45" height="45" class="black">
			</div>
			<div class="col s10 instr-details">
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h6>
			</div>
		</div>
</div>
<div class="col s12 test-start">
     <button >Continue</button>
</div>