<div class="row f5f5f5">
	<div class="col s12 test-info">
		  <div class="col s1 st-lecture left-no-pad">
		    <img src="app/images/go-back-left-arrow.png" class="" width="20" height="20">
		  </div>
		  <div class="col s11 test-name">
		  		<h6> Results</h6>
		  </div>
	</div>
	<div class="col s12 score-detail">
		<h6>
			Score Obtained
		</h6>
		<p>{{testScore.TotalQues}} Questions</p>
	</div>
	<div class="col s12">
		<div class="col s5">
			<donut></donut>
		</div>
		<div class="col s7 score-progressor">
			<div class="col s12 side-no-pad pad-btm-10">
				<div class="col s2 correct correct-col">
				{{testScore.Correct}}
				</div>
				<div class="col s10">
					<p class="label">Correct</p>
					<div class="progress">
				  		<div class="determinate correctans" style="width: 50%"></div>
					</div>
				</div>
			</div>
			<div class="col s12 side-no-pad pad-btm-10">
				<div class="col s2 correct incorrect-col">
				{{testScore.Incorrect}}
				</div>
				<div class="col s10">
					<p class="label">Incorrect</p>
					<div class="progress">
				  		<div class="determinate incorrectans" style="width: 30%"></div>
					</div>
				</div>
			</div>
			<div class="col s12 side-no-pad">
				<div class="col s2 correct unanswer-col">
				{{testScore.Unanswered}}
				</div>
				<div class="col s10">
					<p class="label">Unanswer</p>
					<div class="progress">
				  		<div class="determinate unanswer" style="width: 20%"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="score-perc">
			{{testScore.Correct * testScore.TotalQues /100}}
		</div>
	</div>

</div>
