<!-- nav menu -->

<div class="row home-bg">
	<div class="col s12 home-nav">
		  <div class="col s1 menu">
		    <img src="app/images/menu-three-horizontal-lines-symbol.png" class="" width="20" height="20">
		    
		  </div>
		  <div class="col s5 home-head">
		  	Hi Aditya
		  </div>
		  <div class="col s6 home-notifications">
		  	<i class="material-icons dp64 white-text right">notifications_none</i>
		  	<span class="notify-badge">0</span>
		  </div>
	</div>

   <div class="col s12 home-dashboard">
	   <div class="col s12">
		      <div class="col s9 download-head">
		          <h6>Start downloading document from Teacher fair</h6>
		      </div>
		      <div class="col s3 center pad-left-20">
		      	<div class="space-status">
			        <p class="percentage">0 %</p>
			        <p>Used Space</p>
			    </div>
		      </div>
		</div>

		<div class="col s12 dash-link side-no-pad">
			<div class="col s6 ">
				<div class="col s12 task-list" ng-click="lecture()">
					<img src="app/images/presentation.png" class="">
					<h6>Lecture Schedule</h6>
				</div>
			</div>
			<div class="col s6">
				<div class="col s12 task-list">
					<img src="app/images/test (1).png" class="">
					<h6>Test Schedule</h6>
				</div>
			</div>
			<div class="col s6">
				<div class="col s12 task-list">
					<img src="app/images/statistics (2).png" class="">
					<h6>Results and Analysis</h6>
				</div>
			</div>
			<div class="col s6">
				<div class="col s12 task-list">
					<img src="app/images/learning.png" class="">
					<h6>Recommended Videos</h6>
				</div>
			</div>
		</div>
  </div>
</div>
 
