<!-- nav menu -->
<div class="row f5f5f5" ng-init="init()">
<div class="home-bg">
	<div class="col s12 home-nav">
		  <div class="col s1 menu">
		    <img src="app/images/hamburger.png" class="" width="20" height="20" ng-click="openNav()">
		  </div>
		  <div class="col s5 home-head">
		  	Hi Aditya
		  </div>
		  <div class="col s6 home-notifications">
		  	<i class="material-icons dp64 white-text right" ng-click="notifyMsg()">notifications_none</i>
		  	<span class="notify-badge">0</span>
		  </div>
	</div>

   <div class="col s12 home-dashboard">
	   <div class="col s12">
		      <div class="col s9 download-head">
		          <h6>Start downloading document from Teacher fair</h6>
		      </div>
		      <div class="col s3 center pad-left-20">
		      	<div class="space-status">
			        <p class="percentage">0 %</p>
			        <p>Used Space</p>
			    </div>
		      </div>
		</div>

		<div class="col s12 dash-link side-no-pad">
			<div class="col s6 ">
				<div class="col s12 task-list" ng-click="lecture()">
					<img src="app/images/presentation.png" class="">
					<h6>Lecture Schedule</h6>
				</div>
			</div>
			<div class="col s6">
				<div class="col s12 task-list" ng-click="testSchedule()">
					<img src="app/images/test.png" class="">
					<h6>Test Schedule</h6>
				</div>
			</div>
			<div class="col s6">
				<div class="col s12 task-list" ng-click="resultsAnalysis()">
					<img src="app/images/statistics.png" class="">
					<h6>Results and Analysis</h6>
				</div>
			</div>
			<div class="col s6">
				<div class="col s12 task-list" ng-click="recommendedVideo()">
					<img src="app/images/learning.png" class="">
					<h6>Recommended Videos</h6>
				</div>
			</div>
		</div>
  </div>
		<div class="col s12">
		  <div class="col s12 st-lect-vid">
		  	<h6 class="heading">
		  		Popular Videos
		  	</h6>
		  	<div class="slick" id="popular_videos">
			  	<div class="col s12 home-videos" ng-repeat="item in popularVideos">

						<div class="col s12" ng-repeat="video in item.lstVideoModel">
							<video class="vid-open" id="popcorn" height="" src="{{video.VideoPath}}" ng-click="vidPlay(video.DIGITALDOCID)" preload="auto">
							</video>

							<h6 class="">{{video.DOCUMENTNAME}}</h6>
							<p class="slider-text">{{video.SubjectName}}</p>
						</div>
			  	</div>
		  </div>
 	 </div>
  </div>
</div>
	<!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Test Modal</a> -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal submitModal">
    <div class="modal-footer">
    <div class="col s12 white">
    	<h6>Confirm test submission?</h6>
    </div>
    <div class="col s12 white side-no-pad">
    	<div class="col s6">
    		<a href="#!" class="modal-action modal-close cancel-btn">Cancel</a>
    	</div>
    	<div class="col s6">
    		<a href="#!" class="modal-action head-col">Submit</a>
    	</div>
    </div>


    </div>
  </div>
</div>

<!-- side nav -->
<div id="mySidenav" class="sidenav">

  <div class="row">
	<div class="col s12 lecture-bg">

			  <div class="col s11 stlec-heading">
			  		<div class="col s4 ">
				  		<div class="icon">
				  			<img src="app/images/sidebarusericon.png" >
				  		</div>
			  		</div>
			  		<div class="col s12 head-nav">
			  			<h6 class="white-text">Hi Aditya</h6>
			  			<p class="white-text">34% used space</p>
			  		</div>

			  </div>
			    <span class="closebtn" ng-click="closeNav()">&times;</span>
	</div>
	</div>
  <a href="#!/home" class="dark-bg"><img src="app/images/home.png" class="sidenav-icon"><span class="nav-links secondary-color"><b>Home</b></span></a>
  <a href="#!/student/lecture"><img src="app/images/ls_menu.png" class="sidenav-icon"><span class="nav-links">Lecture Schedule</span></a>
  <a href="#!/test/schedule"><img src="app/images/ts._menu.png" class="sidenav-icon"><span class="nav-links">Test Schedule</span></a>
  <a href="#"><img src="app/images/results_menu.png" class="sidenav-icon"><span class="nav-links">Results and Analysis</span></a>
  <a href="#!/student/recommended_video"><img src="app/images/rc_menu.png" class="sidenav-icon"><span class="nav-links">Recommended Videos</span></a>
  <a href="#"><img src="app/images/upload a doc.png" class="sidenav-icon icon-opacity"><span class="nav-links">Upload a document</span></a>
  <a href="#"><img src="app/images/profile_menu.png" class="sidenav-icon icon-opacity"><span class="nav-links">Profile</span></a>
  <button type="submit" class="btn nav-logout" ng-click="logout()">Logout</button>
</div>
