
<div class="row f5f5f5-bg" ng-init="init()">
	<div class="col s12 test-info">
		  <div class="col s1 st-lecture left-no-pad" ng-click="goHome()">
		    <img src="app/images/go-back-left-arrow.png" class="" width="20" height="20">

		  </div>
		  <div class="col s11 test-name">
		  		<h6> Documents</h6>
		  </div>
	</div>
	<div class="col s12 side-no-pad mt57">
			<!-- Tab links -->
		<div class="upcomingTesttab">
			  <button class="tablinks testbtn-active" ng-click="documentTab('uploadDoc')" id="uptest-btn1">Uploaded</button>
			  <button class="tablinks" ng-click="documentTab('downloadDoc')" id="uptest-btn2">Downloaded</button>
		 </div>

			<!-- Tab content -->
		<div ng-show="uploadDoc" class="tabcontent">
	  		<div class="col s12">
	  			<h6 class="pri-col">Last 5 days</h6>
	  			<div class="col s12 document-list pb10" ng-repeat="item in uploadDocumentData">
	  				<div class="col s2 side-no-pad">
	  					<img src="{{item.DocumentPath}}" class="doc-prew">
	  				</div>
	  				<div class="col s10 doc-info">
	  					<h6 class="doc-nam">{{item.DocumentName}}</h6>
	  					<p class="no-margin pt15"><span ><i class="material-icons dp48 up-icon">arrow_upward</i></span><span class="up-date">{{item.CreatedDate | date}}</span></p>
	  				</div>
	  			</div>
	  		</div>
		</div>
		<div ng-hide="uploadDoc" class="tabcontent">
	  		<div class="col s12">
	  			<h6 class="pri-col">Last 5 days</h6>
	  			<div class="col s12 document-list pb10" ng-repeat="item in uploadDocumentData">
	  				<div class="col s2 side-no-pad">
	  					<img src="{{item.DocumentPath}}" class="doc-prew">
	  				</div>
	  				<div class="col s10 doc-info">
	  					<h6 class="doc-nam">{{item.DocumentName}}</h6>
	  					<p class="no-margin pt15"><span ><i class="material-icons dp48 up-icon">arrow_upward</i></span><span class="up-date">{{item.CreatedDate | date}}</span></p>
	  				</div>
	  			</div>
	  		</div>
		</div>
</div>
</div>
<!-- fixed button -->
 <div class="fixed-action-btn">
    <!-- <a class="btn-floating btn-large sec-bg image-upload" onclick="javascript:void(0)"> -->
    	<label for="file-input" class="btn-floating btn-large sec-bg image-upload ">
        	<img src="app/images/upload.png" class="ver-mid">

    	</label>
			<input class="hides" type="file" file="file" accept="application/pdf,image/*" required id="file-input" ng-files="filesubmit($files)"/>
    <!-- </a> -->
 </div>
