<div class="row teacher-fair">
    <div class="col s12 logo center">
      <img src="app/images/logo.jpg" alt="teacher Fair">
    </div>
    <div class="col s12 log-head">
      <h1>Login to your account</h1>
    </div>
     <slick infinite=true slides-to-show=3 slides-to-scroll=3>
      <div class="">
      Hello
      </div>
          <div class="">
      Hello
      </div>
          <div class="">
      Hello
      </div>
    </slick>
    <div class="col s12 login-sec">
        <div class="col s6 stu-div">
          <button class="col s11 student-sec">
                  <img src="app/images/graduate-student-avatar (1).png" alt="teacher Fair">
                <p>I'm a Student
                </p>
          </button>
        </div>
        <div class="col s6 tea-div">
          <button class="col s11 student-sec">
                  <img src="app/images/male-cartoon-pointing-to-white-board.png" alt="teacher Fair">
                <p>I'm a Lecturer
                </p>
          </button>
        </div>
    </div>
    <div class="col s12 login-form">
      <div class="col s12 user-name">
        <input type="text" placeholder="Username" class="user-fix">
      </div>
      <div class="col s12 user-pass">
        <input type="password" placeholder="Password" class="user-fix">
        <a class="right forgot-pass">Forgot Password?</a>
      </div>
    </div>
    <div class="col s12 sign-in">
      <button ng-click="login()">Sign in</button>
    </div>
</div>

